[Unit]
Description=NodeJS Student Worker Scheduling App Team 3
After=network.target
 
[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/nodeapps/sev2026/t3
ExecStart=npm run start
Restart=on-failure
 
[Install]
WantedBy=multi-user.target

